
<div class="container mt-3">
    <h3>Lista de Publicadores</h3>

    <div class="form-outline mt-4">
        <input type="search" class="form-control" id="datatable-search-input" placeholder="Busca" [(ngModel)]="termoBusca" (input)="filtrarPublicadores()">
    </div>
      
    <div class="mt-4">
        <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Sexo</th>
                <th scope="col">Batismo</th>
                <th scope="col">Perfil</th>
                <th scope="col">Tipo de Publicador</th>
                <th scope="col">Observação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let publicador of publicadores">
                <td>{{ publicador.nome }}</td>
                <td>{{ publicador.sexo | traduzirGenero  }}</td>
                <td>{{ publicador.flBatismo | batismo  }}</td>
                <td>{{ publicador.perfil | perfil }}</td>
                <td>{{ publicador.publicadorTipo | publicadorTipo }}</td>
                <td>{{ publicador.observacao }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

