<div class="container mt-3">
    <h3>Novo Publicador</h3>
    <form>

        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="publicador.nome" required>
        </div>
    
        <div class="form-group mt-2">
            <label>Sexo</label>
            <div class="col-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sexo" id="sexoMasculino" value="M" [(ngModel)]="publicador.sexo" required>
                    <label class="form-check-label" for="sexoMasculino">Masculino</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sexo" id="sexoFeminino" value="F" [(ngModel)]="publicador.sexo" required>
                    <label class="form-check-label" for="sexoFeminino">Feminino</label>
                </div>
            </div>
        </div>
        
        <div class="form-group row mt-2">
            <label>Batizado</label>
            <div class="col-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="batizado" id="sim" value="true" [(ngModel)]="publicador.flBatismo" required>
                    <label class="form-check-label" for="sim">Sim</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="batizado" id="nao" value="false" [(ngModel)]="publicador.flBatismo" required>
                    <label class="form-check-label" for="nao">Não</label>
                </div>
            </div>
        </div>
        
        <div class="input-group mb-3 mt-3">
            <label class="input-group-text" for="inputGroupSelect01">Selecione o Perfil</label>
            <select class="form-select" id="perfil" name="perfil" [(ngModel)]="publicador.perfil" required>
                <option value="SM">Servo Ministerial</option>
                <option value="AN">Ancião</option>
                <option value="NP">Não Possui</option>
            </select>
        </div>

        <div class="input-group mb-3 mt-3">
            <label class="input-group-text" for="inputGroupSelect01">Selecione o Tipo do Publicador</label>
            <select class="form-select" id="publicadorTipo" name="publicadorTipo" [(ngModel)]="publicador.publicadorTipo">
                <option value="PB">Publicador</option>
                <option value="PA">Pioneiro Auxiliar</option>
                <option value="PI">Pioneiro Auxiliar Indeterminado</option>
                <option value="PR">Pioneiro Regular</option>
            </select>
        </div>

        <div class="form-group mt-2">
            <label for="observacao">Observação</label>
            <textarea class="form-control" id="observacao" name="observacao" rows="1" [(ngModel)]="publicador.observacao"></textarea>
        </div>

        
        <div class="alert alert-success mt-3" role="alert" *ngIf="success == true">
            Publicador cadastrado com sucesso!
        </div>
        
        <div class="alert alert-danger mt-3" role="alert" *ngFor="let erro of errors">
            {{ erro }}
        </div>

        <button (click)="onSubmit()" type="submit" class="btn btn-primary mt-2">Enviar</button>
    </form>
</div>
