*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.toolbar{
    background-color: rgb(112 112 215);
    color: white;
}
.tabela-publicadores{
    width: 100%;
}

.grupo-todos-e-novo{
    padding: 35px 60px;
    background-color: rgb(62, 63, 63);
}

.titulo{
    color: antiquewhite;
}

.formulario-novo-publicador{
    padding: 20px;
}

.campo-nome{
    width: 100%;
}

.campo-observacao{
    width: 50%;
    margin-top: 20px;
}