<div class="container mt-3">
  <h3>Relatório Mensal</h3>
  <div class="mt-4">
    <div class="row mb-4">
      <div class="form-group col-md-3">
        <label for="ano">Ano</label>
        <select class="form-select" id="ano" name="ano" [(ngModel)]="selectedYear">
          <option *ngFor="let year of yearsRange" [value]="year">{{ year }}</option>
        </select>
      </div>

      <div class="form-group col-md-3">
        <label for="mes">Mês</label>
        <select class="form-select" id="mes" name="mes" [(ngModel)]="selectedMonth">
          <option *ngFor="let mes of meses" [value]="mes.value">{{ mes.label }}</option>
        </select>
      </div>

      <div class="form-group col-md-2 pt-4">
        <button class="btn btn-primary" (click)="filtrarRelatoriosPorMesEAno()">Buscar</button>
      </div>

    </div>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Publicações</th>
          <th scope="col">Videos</th>
          <th scope="col">Horas</th>
          <th scope="col">Revisitas</th>
          <th scope="col">Estudos Bíblicos</th>
          <th scope="col">Observação</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let publicador of publicadores">
          <td>{{ publicador.nome }}</td>
          <td>{{ publicador.relatorioDTO.publicacoes }}</td>
          <td>{{ publicador.relatorioDTO.videos }}</td>
          <td>{{ publicador.relatorioDTO.horas }}</td>
          <td>{{ publicador.relatorioDTO.revisitas }}</td>
          <td>{{ publicador.relatorioDTO.estudos }}</td>
          <td>{{ publicador.relatorioDTO.observacao }}</td>

          <td class="text-center">
            <button class="btn btn-primary btn-sm m-2"  routerLink="/relatorios-form/{{ publicador.relatorioDTO.id }}">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalDelecao" (click)="preparaDelecao(publicador.relatorioDTO)">
              <i class="fa-solid fa-trash"></i>
            </button> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="modalDelecao" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Excluir Relatório</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja excluir o relatório de {{ relatorioSelecionado.nomePublicador }}?</p>
        </div>
        <div class="modal-footer">
          <button (click)="excluirRelatorio()" data-bs-dismiss="modal" type="button" class="btn btn-primary">Excluir</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>