<div class="container mt-3">
    <h3>Relatório Mensal</h3>
    <div class="mt-4">
        <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Entregue</th>
                <th scope="col">Tipo do Publicador</th>
                <th scope="col">Publicações</th>
                <th scope="col">Videos</th>
                <th scope="col">Horas</th>
                <th scope="col">Revisitas</th>
                <th scope="col">Estudos Bíblicos</th>
                <th scope="col">Observação</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor="let publicador of publicadores">
                    <td>{{ publicador.nome }}</td>
                    <td>{{ publicador.sexo | traduzirGenero  }}</td>
                    <td>{{ publicador.flBatismo | batismo  }}</td>
                    <td>{{ publicador.perfil | perfil }}</td>
                    <td>{{ publicador.publicadorTipo | publicadorTipo }}</td>
                    <td>{{ publicador.observacao }}</td>
                    <td class="text-center">
                      <button class="btn btn-primary btn-sm m-2" routerLink="/publicadores-form/{{ publicador.id }}">
                        <i class="fa-solid fa-pen-to-square"></i>
                      </button>
                      <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalDelecao" (click)="preparaDelecao(publicador)">
                        <i class="fa-solid fa-trash"></i>
                      </button>
                    </td>
                  </tr> -->
            </tbody>
        </table>
    </div>
</div>