<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <span class="navbar-text">
            Designações e Relatórios App
        </span>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column col-2" style="height: calc(100vh - 57px);">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse h-100 align-items-start" id="sidebar">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link menu-lateral" data-bs-toggle="collapse" href="#publicadoresSubMenu" role="button" aria-expanded="false" aria-controls="publicadoresSubMenu">Publicadores</a>
                        <div class="collapse" id="publicadoresSubMenu">
                            <ul class="navbar-nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="publicadores-form">Adicionar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="publicadores-lista">Listar</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-lateral" data-bs-toggle="collapse" href="#relatoriosSubMenu" role="button" aria-expanded="false" aria-controls="relatoriosSubMenu">Relatórios</a>
                        <div class="collapse" id="relatoriosSubMenu">
                            <ul class="navbar-nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="relatorios-form">Adicionar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="relatorios-lista">Cartões</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link menu-lateral" href="#">Reuniões</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="col-10">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
